

{{!-- ======================================= Table =================================== --}}

<section class="Product_Table" style="">
    <div class="container">
        <div class="">
        <a href="/admin/add-product" class="btn btn-success mb-4 mt-4 ml-auto">Add Products</a>
        </div>
            <table class="table table-hover table-light table-bordered">
        
        <thead class="text-center">
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Images</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>

                <th scope="row">{{this.fname}}</th>
                <td>{{this.fcategoty}}</td>
                <td>{{this.fDescription}}</td>
                <td>&#8377;{{this.fprice}}/-</td>
                <td><img src="{{this.images}}" alt="" style="width:50px; height: 50px;"></td>
                <td>
                    <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a>
                    <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to Remove {{this.fname}}?');")">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        </table>
    </div>
</section>